<div id="container">
    <div class="footerContent">
        <b class="contentTitles">Seguime</b>
        @for(x of followList; track $index){
            <div class="footerContentText"
            (click)="handleFollowClick($index)">
                {{x}}
            </div>
        }
    </div>
    <hr>
    <div class="footerContent">
        <b class="contentTitles">Contactame</b>
        @for(x of contactList; track $index){
            <div class="footerContentText"
            (click)="handleContactClick($index)">
                {{x}}
            </div>
        }
    </div>
    <hr>
    <div class="footerContent">
        <b class="contentTitles">Agradecimientos</b>
        @for(x of aboutList; track $index){
            <div class="footerContentText"
            (click)="handleThanksClick($index)">
                {{x}}
            </div>
        }
    </div>
</div>
