<div id="container">
    <div class="footerContent">
        <span><b>Seguime</b></span>
        @for(x of followList; track $index){
            <span class="footerContentText"
            (click)="handleFollowClick($index)">
                {{x}}
            </span>
        }
    </div> 
    <hr>
    <div class="footerContent">
        <span><b>Contactame</b></span>
        @for(x of contactList; track $index){
            <span class="footerContentText"
            (click)="handleContactClick($index)">
                {{x}}
            </span>
        }
    </div>
    <hr>
    <div class="footerContent">
        <span><b>Agradecimientos</b></span>
        @for(x of aboutList; track $index){
            <span class="footerContentText"
            (click)="handleThanksClick($index)">
                {{x}}
            </span>
        }
    </div>
</div>
