#component{
    padding: 1%;
    height: auto;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgba(0,0,0,0.95); */
    background-color: black;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    h2{
        color: orange;
    }
}
 
#proyectsCardContainer{
    padding: 1%;
    width: 98%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.card{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

/* .cardIMG{
    border-radius: 10px;
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    img{
        width: 100%;
        height: 100%;
    }
} */

@media(max-width: 320px){
    #component{
        margin-top: 4%;
    }

    /* #proyectsCardContainer{
        height: 100vh;
    } */

    .card{
        width: 90%;
        height: 25vh;
        margin-bottom: 5%;
    }
}

@media(min-width: 321px) and (max-width:480px){
    #component{
        margin-top: 4%;
    }

    .card{
        width: 90%;
        height: 30vh;
        margin-bottom: 5%;
    }

}

@media(min-width: 481px) and (max-width:1328px){
    #component{
        border: 2px solid red;
        margin-top: 4%;
    }

    .card{
        width: 90%;
        max-width: 300px;
        height: 30vh;
        margin-bottom: 5%;
    }
}

@media(min-width: 769px) and (max-width:1328px){
    .card{
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media(min-width:1329px){
    #component{
        /* min-height: 550px;
        max-height: 550px; */
        margin-top: 4%;
    }

    .card{
        width: 90%;
        max-width: 300px;
        height: 30vh;
        margin-bottom: 5%;
    }
}

@media(min-width: 480px){
    #component{
        background-color: rgb(4,4,4);
        border-top: none;
        border-bottom: 4px solid rgba(230,165,0,0.6);
        background: rgb(1,1,1)
    }

    #proyectsCardContainer{
        background: black;
    }

    .card:hover{
        cursor: pointer;
    }
}

@media(min-width:1000px){
    #component{
        background-color: rgb(1,1,1);
    }

    .card{
        margin: 1.3%;
    }
}