<div id="component">
    <!-- todo!! -->
    <h2>Proyectos</h2>
    <div id="proyectsCardContainer">
        @for(x of proyectsList; track $index){
            <div class="card"
            (click)="handleCardClick($index)">
            <img [src]="handleIMG($index)" alt="el10go" width="100%" height="100%">
                <!-- <div class="cardIMG">
                    <img [src]="handleIMG($index)" alt="el10go" width="100%" height="100%">
                </div> -->
            </div>
        }
    </div>
</div>