#component{
    padding: 1%;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,0.95);
}

#proyectsCardContainer{
    border: 2px solid orange;
    border-radius: 10px;
    padding: 1%;
    width: 92%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: scroll;
    /* background: linear-gradient(to bottom, 
    rgb(1,1,2),
  #000000,
  #001a4d, 
  #003366, 
  #004080, 
  #0066cc,
  #00509e, 
  #0066cc,
  #0066cc, 
  #004080,
  #0073e6,
  #001a4d,
  #000000,
  rgb(1,1,2)
); */
background: rgba(180,0,0,0,050);
box-shadow: 3px 4px 1.5px 1px rgba(230,165,0,0.6);
}

.card{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, 
        rgba(255, 140, 0, 0.7),
        rgba(255, 165, 0, 0.7), 
        rgba(255, 120, 0, 0.7),
        rgba(255, 140, 0, 0.7), 
        rgba(255, 165, 0, 0.7), 
        rgba(255, 120, 0, 0.7), 
        rgba(255, 100, 0, 0.7)), 
        radial-gradient(circle at center left, rgba(255, 255, 255, 0.4), transparent), 
        radial-gradient(circle at center right, rgba(255, 255, 255, 0.6), transparent);
    box-shadow: 3px 5px 3px 2px rgba(50,50,50,0.9);
    color: black;
}

.cardIMG{
    border-radius: 10px;
    width: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardIMG img{
    width: 100%;
    height: 100%;
}

@media(max-width: 320px){
    #component{
        min-height: 430px;
        max-height: 450px;
        margin-top: 4%;
    }

    #proyectsCardContainer{
        min-height: 320px;
        max-height: 350px;
    }

    .card{
        min-width: 230px;
        max-width: 230px;
        min-height: 300px;
        max-height: 300px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .cardIMG{
        margin-top: 7%;
        min-height: 160px;
        max-height: 160px;
    }
}

@media(min-width: 321px) and (max-width:480px){
    #component{
        min-height: 470px;
        max-height: 470px;
        margin-top: 4%;
    }

    #proyectsCardContainer{
        width: 90%;
        min-height: 370px;
        max-height: 370px;
    }

    .card{
        min-width: 250px;
        max-width: 280px;
        min-height: 330px;
        max-height: 360px;
        margin-left: 6%;
        margin-right: 6%;
    }

    .cardIMG{
        margin-top: 7%;
        min-height: 175px;
        max-height: 175px;
    }
}

@media(min-width: 481px) and (max-width:768px){
    #component{
        min-height: 550px;
        max-height: 550px;
        margin-top: 4%;
    }

    #proyectsCardContainer{
        width: 80%;
        min-height: 450px;
        max-height: 450px;
    }

    .card{
        border: 2.5px solid;
        min-width: 300px;
        max-width: 300px;
        min-height: 390px;
        max-height: 390px;
        margin-left: 8%;
        margin-right: 8%;
    }

    .cardIMG{
        margin-top: 7%;
        min-height: 175px;
        max-height: 175px;
    }
}


