
<!-- DIV SPINNER -->
<div class="contactUsContainer" 
style="justify-content: center;"
*ngIf="isSpinnerVisible">
    <spinner></spinner>
</div>
<div class="contactUsContainer" id="targetScroll">
    <form (submit)="sendEmail($event)" *ngIf="isContactMailVisible">
        <h2>Contacto</h2>
        <div>
            <span>
                <b>Nombre</b>
            </span>
            <input class="contactFormInput" type="text" name="user_name" required>
        </div>
        <div>
            <span>
                <b>Mail</b>
            </span>
            <input type="email" name="user_email" required>
        </div>
        <h4>Mensaje</h4>
        <textarea name="message" rows="50"></textarea>
        <button type="submit"><b>ENVIAR</b></button>
    </form>
    <!-- todo!! -->
    <div class="mailSendMSJ"
    *ngIf="isMailSendOk">
        <div>
            <img src="OK.png" alt="">
        </div>
        <span><b>Correo enviado correctamente</b></span>
    </div>
    <div class="mailSendMSJ"
    *ngIf="isMailSendError">
        <div>
            <img src="error.png" alt="">
        </div>
        <span><b>Error al enviar mensaje, intente nuevamente.</b></span>
    </div>
</div>