<div id="component">
    <div id="presentationPhotoComponent">
        <div id="presentationPhoto">
            <img src="img3.jpg" alt="">
        </div>
        <div id="presentationText">
            <div id="presentationTitle">
                FrontEnd Developer
            </div>
        </div>
    </div>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, suscipit nesciunt? Iure sequi necessitatibus laudantium officiis nam iusto eaque cumque ab, doloribus odit veniam cum nostrum earum iste nemo expedita?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur reprehenderit dignissimos eius ad, repellendus suscipit odit totam praesentium necessitatibus numquam consequuntur eligendi ipsum accusamus? Ut tempore cum maiores impedit dolorum.
    </p>
</div>
