<div id="component">
    <!-- todo!! -->
    <div id="presentationPhotoComponent">
        <div id="presentationPhoto">
            <img src="img3.jpg" alt="">
        </div>
        <div id="presentationTextContainer">
            <h2>Felipe Berrutti</h2>
            <div id="presentationTitle">
                FullStack Developer
            </div>
        </div>
    </div>
    <p>
        Soy un programador FullStack con dos años de experiencia, poseo conocimientos en Angular y Vue.js, TypeScript, CSS, HTML, C# y PostgreSQL. <br> 
        Me apasiona desarrollar soluciones innovadoras y eficientes, siempre buscando mejorar mis habilidades y adaptarme a nuevas tecnologías.<br> 
        Mi enfoque está en crear aplicaciones escalables asegurando una excelente experiencia del usuario. <br> 
        Estoy comprometido con el aprendizaje continuo y la colaboración en equipo para lograr resultados destacados en proyectos complejos. <br>
        Busco desafíos que me permitan crecer profesionalmente y contribuir al éxito de la organización, o del cliente.
    </p>
</div>
