<div id="container">
    <div id="menuButton"
    (click)="handleMenuClick()">
        <hr>
        <hr>
        <hr>
    </div>
    <div id="menuH">
        @for(x of menuOptionsList; track $index){
            <div class="menuOptionH"
            (click)="handleOptionClick($index)">
                <b>{{x}}</b>
            </div>
        }
    </div>
        <div id="menuContent"
        [@menuAn]="auxAnimation">
            @for(x of menuOptionsList; track $index){
                <div class="menuOption"
                [@menuOptionsAn]="auxOptionsAnimation"
                (click)="handleOptionClick($index)">· {{x}}</div>
            }
        </div>
</div>
