#container{
    max-width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
}

#menuButton{
    border-radius: 5px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menuButton hr{
    border: 2px solid orange;
    border-radius: 20px;
    width: 85%;
    box-shadow: 0.8px 1.5px 1px 0.5px rgba(200,200,200,0.6);
}

#menuH{
    padding: 1%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

.menuOptionH{
    width: 8%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    min-height: 30px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    color: rgba(230,165,0,0.8);  
}

#menuContent{
    width: 20%;
    border-left: 1px solid orange;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(7,7,7,0.98);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
}

.menuOption{
    border-bottom: 1px solid orange;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(200,200,200);
}

@media(max-width: 320px){
    #container{
        min-height: 58px;
        max-height: 58px;
    }

    #menuButton{
        min-width: 35px;
        max-width: 40px;
        min-height: 30px;
        max-height: 35px;
        margin-left: 2%;
        margin-bottom: 3%;
    }

    #menuButton hr{
        margin: 8.5%;

    }

    #menuH{
        display: none;
    }

    #menuContent{
        min-width: 200px;
    }

    .menuOption{
        min-height: 25px;
        max-height: 50px;
        margin-top: 2.5%;
    }
}

@media(min-width: 321px) and (max-width: 480px){
    #container{
        min-height: 50px;
        max-height: 80px;
    }

    #menuButton{
        min-width: 50px;
        max-width: 50px;
        min-height: 45px;
        max-height: 45px;
        margin-left: 2%;
    }

    #menuButton hr{
        margin: 10%;

    }

    #menuH{
        display: none;
    }

    #menuContent{
        min-width: 200px;
    }

    .menuOption{
        min-height: 25px;
        max-height: 50px;
        margin-top: 2.5%;
    }
}


@media(min-width: 481px) and (max-width: 1328px){
    #container{
        min-height: 80px;
        max-height: 80px;
        background-color: rgb(3,3,3);
    }

    #menuButton{
        display: none;
    }

    #menuButton hr{
        margin: 10%;

    }

    #menuH{
        min-height: 35px;
        max-height: 35px;
    }

    .menuOptionH{
        min-width: 90px;
    }

    #menuContent{
        display: none;
    }

    .menuOption{
        min-height: 40px;
        max-height: 40px;
        margin-top: 2.5%;
    }
}

@media(min-width: 769px) and (max-width: 1328px){
    #container{
        min-height: 100px;
        max-height: 100px;
    }

    #menuH{
        padding-right: 7%;
    }
}

@media(min-width: 1329px){
    #container{
        min-height: 80px;
        max-height: 80px;
    }

    #menuButton{
        display: none;
    }

    #menuButton hr{
        margin: 10%;

    }

    #menuH{
        min-height: 35px;
        max-height: 35px;
        padding-right: 8%;
    }

    .menuOptionH{
        min-width: 90px;
    }

    #menuContent{
        display: none;
    }

    .menuOption{
        min-height: 40px;
        max-height: 40px;
        margin-top: 2.5%;
    }
}

@media(min-width: 480px){
    .menuOptionH:hover{
        cursor: pointer;
        color: rgba(255,255,0,0.7)
    }
}