<div id="container">
    <button (click)="handleMenuClick()">
        <hr>
        <hr>
        <hr>
    </button>
    <!-- todo!! -->
    <div id="menuH">
        @for(x of menuOptionsList; track $index){
            <div class="menuOptionH"
            (click)="handleOptionClick($index)">
                <span>{{x}}</span>
            </div>
        }
    </div>
        <div id="menuContent"
        [@menuAn]="auxAnimation">
            @for(x of menuOptionsList; track $index){
                <div class="menuOption"
                [@menuOptionsAn]="auxOptionsAnimation"
                (click)="handleOptionClick($index)">
                    <span>· {{x}}</span>
                </div>
            }
        </div>
</div>
