#container{
    max-width: 100%;
    min-width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
}

#menuButton{
    border-radius: 5px;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menuButton hr{
    border: 2px solid orange;
    border-radius: 20px;
    width: 85%;
    box-shadow: 0.8px 1.5px 1px 0.5px rgba(200,200,200,0.6);
}

/* #menuBanner{
} */

#menuContent{
    border-left: 1px solid orange;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(7,7,7,0.98);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
}

.menuOption{
    border-bottom: 1px solid orange;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(200,200,200);
}

@media(max-width: 320px){
    #container{
        min-height: 60px;
        max-height: 70px;
    }

    #menuButton{
        min-width: 35px;
        max-width: 40px;
        min-height: 30px;
        max-height: 35px;
        margin-left: 2%;
        margin-bottom: 3%;
    }

    #menuButton hr{
        margin: 8.5%;

    }

    #menuBanner{
        min-width: 260px;
        max-width: 265px;
        min-height: 50px;
        max-height: 55px;
        margin-left: 2%;
    }

    #menuContent{
        min-width: 200px;
    }

    .menuOption{
        min-height: 25px;
        max-height: 50px;
        margin-top: 2.5%;
    }
}